@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

/* Page Transitions */
.page-enter-active,
.page-leave-active {
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(8px);
}

/* Layout Transitions */
.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.3s ease-in-out;
}

.layout-enter-from,
.layout-leave-to {
  opacity: 0;
}
